/* Reusable root stuff */
@font-face {
    font-family: 'dearestregular';
    src: url('dearest-oopd-webfont.woff2') format('woff2'),
         url('dearest-oopd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dearest_openregular';
    src: url('dearestopen-4ryp-webfont.woff2') format('woff2'),
         url('dearestopen-4ryp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dearest_outlineregular';
    src: url('dearestoutline-0k19-webfont.woff2') format('woff2'),
         url('dearestoutline-0k19-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
}

/* basics*/
h1 {
  font-family: 'dearestregular';
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: 'dearestregular';
  font-style: italic;
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Loading Animation setings */

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross {

}

.loader.hidden {
  animation: fadeOut 4s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  50% {
    opacity: 1;

  }

  100% {
    opacity: 0;
    visibility: hidden;
  }

}

/* Loading Animation white line setings */

#Whitecrossbackg {
  width: auto;
  height: auto;
  position: relative;
  overflow: visible;
}

/* refer to the media if else statements to see how background changes when on mobile*/
/* Note, background-position first number is LeftRight second is updown and calc is neat because I set possition AND add that I want it pulled down 100px*/

html {
  background: url("SG.svg") no-repeat center center fixed;
  background-position: 50% calc(50% + 100px);
  background-size: auto auto;
  background-color: black;
}

/* COUNTDOWN TIMER STUFF */
#demo {
  color: #6649b8;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
/* COUNTDOWN TIMER STUFF */


#contact {
  background: url("contact.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*removes */
body {
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: justify;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  margin-left: 5rem;
  margin-top: 5rem;
}

/*NAVBAR PROPETIES*/
.navbar {
  width: 100vh;
  height: 5rem;
  position: fixed;
  background-color: var(--bg-primary);
}

/* Get rid of ugly scroll bar*/
/* change width*/
body::-webkit-scrollbar {
  width: 0.25rem;
}

/* Change color of the track*/
body::-webkit-scrollbar-track {
  background: #1e1e24
}

/* Change color of the thumb that moves along track*/
body::-webkit-scrollbar-thumb {
  background: #6649b8
}

/* Grid stuff */
/* Learned cool new trick
repeat(x, 1fr) is the same as writing
1fr x amount of times */
.basic-grid {
  display: grid;
  gap: none;
  /* Learned cool new trick repeat(x, 1fr) is the same as writing 1fr x amount of times */
  /*grid-template-columns: repeat(6, 1fr);
  grid-template-columns: repeat(6, minmax(240px, 1fr));*/
  margin-top: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(auto, 240px));
  grid-auto-rows: 320px;
}

/* for smaller screens*/
.card-tall {
  grid-row: span 1 / auto;

}

.card-wide {
  grid-column: span 2 / auto;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}

/*TEMPORARY PHOTO TEXT*/
.photo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: #fff;
}

/* Make grids 2 and 3 invisible */
@media screen and (max-width: 1919px) {
  .card-invis {
    display: none;
  }

  .card-tall {
    grid-row: span 1 / auto;

  }

  .card-wide {
    grid-column: span 1 / auto;
    overflow: hidden;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

  }
}

/* I have no idea how but this is working somehow */
@media screen and (max-width: 1225px) {
  #hid {
    display: none;
  }
}
/*Media Query for 1440 laptops*/
@media screen and (width: 1440px) {
  .basic-grid {
    display: grid;
    gap: none;
    /* Learned cool new trick repeat(x, 1fr) is the same as writing 1fr x amount of times */
    /*grid-template-columns: repeat(6, 1fr);
    grid-template-columns: repeat(6, minmax(240px, 1fr));*/
    margin-top: 5rem;
    grid-template-columns: repeat(5, minmax(auto, 360px));
    grid-auto-rows: 320px;
  }

}


/*Media Query for 4k screens*/
@media screen and (min-width: 2560px) {

  .basic-grid {
    display: grid;
    gap: none;
    /* Learned cool new trick repeat(x, 1fr) is the same as writing 1fr x amount of times */
    /*grid-template-columns: repeat(6, 1fr);
    grid-template-columns: repeat(6, minmax(240px, 1fr));*/
    margin-top: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(auto, 320px));
    grid-auto-rows: 320px;
  }

}


/* Special Query for Mobile Phones */
@media screen and (max-width: 1025px) {

  .basic-grid {
    display: grid;
    gap: none;
    /* Learned cool new trick repeat(x, 1fr) is the same as writing 1fr x amount of times */
    /*grid-template-columns: repeat(6, 1fr);
    grid-template-columns: repeat(6, minmax(240px, 1fr));*/
    margin-top: 5rem;
    grid-template-columns: repeat(5, minmax(auto, 240px));
    grid-auto-rows: 320px;
  }

}

/* Stuff to make the grid fancy */
.card-norm0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #fff;
  height: 25%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'dearestregular';

}
.card-norm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #fff;
  height: 25%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

/* Gives same purple effect to non a-tag cards*/
.card-norm:hover {
  color: rgba(102, 73, 184, 1);
  transform: translateY(-2px) scale(1);
}

.card-norm a:hover {
  color: rgba(102, 73, 184, 1);
  transform: translateY(-2px) scale(1);
}

/* TEXT ANIMATION FOR SG */
/* Disabled on mobile */
@media screen and (min-width: 1920px) {
.card-tall a {
    text-decoration: none;
    color: #fff;
  }


  .card-tall a::before {
      content: '';
      background-image: url('moother.png');
      background-position: 0 30%;
      background-repeat: no-repeat;
      background-size: 75%;
      height: 75vh;
      left: 0;
      position: absolute;
      bottom: -10vh;
      width: 50vw;
      transform: translateY(100%);
      transition: transform .3s;
    }

    a:hover::before {
      transform: translateY(0px);
    }
  }


  /* Grid stuff for contact page */
  /* Learned cool new trick
  repeat(x, 1fr) is the same as writing
  1fr x amount of times */
  .contact-grid {
    text-align: center;
    margin-top: 25%;
  }

/* ANIM TEST */
.subdiv {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

  #whitetl {
    width: 70vw;
    height: 70vh;
    position: relative;
    overflow: visible;
  }
